<h2>Template: <small> Dinámicos </small> </h2>
<hr>

<form autocomplete="off" #myFormulario="ngForm">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text"
                   class="form-control" 
                   placeholder="Nombre de la persona"
                   [ngModel]="persona.name"
                   name="nombre"
                   required>
            <span class="form-text text-danger"
                  *ngIf="myFormulario.invalid &&
                         myFormulario.touched">
                Este campo es obligatorio
            </span>
        </div>
    </div>

     <!-- Agregar Favorito-->
     <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input type="text"
                       class="form-control"
                       [(ngModel)]="nuevoJuego"
                       name="nuevoJuego"
                       placeholder="Agregar favorito" >
                <button class="btn btn-outline-primary"
                        (click)="agregar()">
                    Agregar
                </button>
            </div>
        
        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">

            <div *ngFor="let juego of persona.favorites; let i = index"
                 class="input-group mb-1">
                <input  type="text"
                        class="form-control"
                        [(ngModel)]="juego.game"
                        name="favorite_{{ i }}">
                <button class="btn btn-outline-danger"
                        (click)="borrar(i)">
                    Eliminar
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" 
                    class="btn btn-primary float-end"
                    [disabled]="myFormulario.invalid"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Data Person</p>
            <pre>
                {{ persona | json }}
            </pre>
        </div>
    </div>
</form>

