<h2>Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" #myForm="ngForm" autocomplete="off">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            ngModel
                            name="producto"
                            placeholder="Nombre del producto"
                            required
                            minlength="3">
                    <span   class="form-text text-danger"
                            *ngIf="nombreValido( 'producto' )">
                            Debe de ser de 3 letras
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input  type="number"
                            ngModel
                            name="precio"
                            class="form-control"
                            placeholder="Precio del producto"
                            required
                            min="0">
                    <span   class="form-text text-danger"
                            *ngIf="nombreValido( 'precio' )">
                        El precio debe de ser 0 o mayor 
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input  type="number"
                            ngModel
                            name="existencias"
                            class="form-control"
                            placeholder="Existencias del producto"
                            required
                            customMin
                            [minimo]="0">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            [disabled]="myForm.invalid">
                        Guardar
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre> {{ myForm.valid }} </pre>
        <span>Invalid</span>
        <pre> {{ myForm.invalid }} </pre>
        <span>Pristine</span>
        <pre> {{ myForm.pristine }} </pre>
        <span>Touched</span>
        <pre> {{ myForm.touched }} </pre>
        <span>Value</span>
        <pre> {{ myForm.value | json }} </pre>
        <span>CustomMin</span>
        <pre> {{ myForm.controls['existencias']?.errors | json }} </pre>
    </div>
</div>