<h2>Template: <small> Dinámicos </small> </h2>
<hr>

<form autocomplete="off" [formGroup]="MyForm" (ngSubmit)="save()">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   formControlName="nombre"
                   placeholder="Nombre de la persona">
            <span   class="form-text text-danger"
                    *ngIf="fieldIsInvalid( 'nombre' )">
                Debe de ser de 3 letras
            </span>
        </div>
    </div>

     <!-- Agregar Favorito-->
     <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="Agregar favorito"
                       [formControl]="nuevoFavorito"
                       (keyup.enter)="AddFavorite()">
                <button class="btn btn-outline-primary"
                        (click)="AddFavorite()">
                    Agregar
                </button>
            </div>
        
        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">

            <div class="input-group mb-1"
                 *ngFor="let favorito of favoritesArr.controls; let i = index">
                <input  type="text"
                        class="form-control"
                        [formControlName]="i">
                <button class="btn btn-outline-danger">
                    Eliminar
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" 
                    class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>
</form>

<!-- <div class="row">
    <div class="col">
        <p>Data Person</p>
        <pre>
            {{ persona | json }}
        </pre>
    </div>
</div> -->

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre> {{ MyForm.valid }} </pre>
        <span>Invalid</span>
        <pre> {{ MyForm.invalid }} </pre>
        <span>Pristine</span>
        <pre> {{ MyForm.pristine }} </pre>
        <span>Touched</span>
        <pre> {{ MyForm.touched }} </pre>
        <span>Value</span>
        <pre> {{ MyForm.value | json }} </pre>
        <br>
        <h3>Nuevo</h3>
        <span>Valor</span>
        <pre> {{ nuevoFavorito.value }} </pre>
        <span>Valido</span>
        <pre> {{ nuevoFavorito.valid }} </pre>
        <span>Invalido</span>
        <pre> {{ nuevoFavorito.invalid }} </pre>
    </div>
</div>

